.correction-content
  = simple_form_for @correction, url: url do |f|
    .row
      .form-inputs
        .form-group.select.required{}
          %label.select.required.control-label{for: :user_id}
            %abbr{title: 'required'} *
            = 'Users'
          = f.collection_select(:user_id, User.available_correctors(@paper.corrections.pluck(:user_id) <<@paper.user_id), :id, :email)

        = f.hidden_field :paper_id, value: @paper.id
        = f.hidden_field :grade, value: 0

    .row
      .form-actions
        = f.button :submit, "Save", class: "btn-primary"
