%tr
  %td
    = paper.name
  %td
    = paper.user.name
  %td
    = paper.created_at.to_formatted_s(:long)
  %td
    = paper.grade
  %td
    = link_to 'Assign corrector'.html_safe,  new_admin_paper_correction_path(paper.id) , class: "btn btn-primary"
    = link_to '<i class="glyphicon glyphicon-user"></i>See correctors'.html_safe, admin_paper_corrections_path(paper.id), class: "btn btn-info"
    = link_to '<i class="glyphicon glyphicon-open-file"></i>View'.html_safe, paper.paper_file.url, class: "btn btn-primary", target: 'blank '
    = link_to '<i class="icon-trash icon-white"></i>Destroy'.html_safe, admin_paper_path(paper), method: :delete, class: "btn btn-danger", rel: :nofollow, data: { confirm: "Are you sure?", method: "delete" } rescue nil
