%tr
  %td
    - if !paper.name.nil?
      = paper.name
    - else
      = ""
  %td
    - if !paper.user.name.nil?
      = paper.user.name
    - else
      = "User doesn't want to display his/her name."
  %td
    = paper.created_at.to_formatted_s(:long)
  %td
    - if paper.user_id == current_user.id
      = paper.grade
    - else
      = ""
  %td
    = link_to '<i class="glyphicon glyphicon-open-file"></i>View'.html_safe, paper.paper_file.url, class: "btn btn-primary", target: 'blank'
